<a href="https://colab.research.google.com/github/descandon88/lyric-sentiment-analysis/blob/main/lyrics_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install helper
!pip install twython
!pip install -U py_search
!pip install lyricsgenius

Collecting helper
  Downloading https://files.pythonhosted.org/packages/0b/c2/b4e0286e492b4551c1890a7445a1b85f3f10032673566d4c20c14dd0a280/helper-2.5.0.tar.gz
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from helper) (3.13)
Building wheels for collected packages: helper
  Building wheel for helper (setup.py) ... done
  Created wheel for helper: filename=helper-2.5.0-py2.py3-none-any.whl size=19158 sha256=f0ea550d45a72c5289ac1b934ccc13eba0ae06c0addc05192fd065847a43b3c1
  Stored in directory: /root/.cache/pip/wheels/18/de/25/a8d15addb213a842c551d25dd9994aebc1e4dd97f7c681e0ea
Successfully built helper
Installing collected packages: helper
Successfully installed helper-2.5.0
Collecting twython
  Downloading https://files.pythonhosted.org/packages/24/80/579b96dfaa9b536efde883d4f0df7ea2598a6f3117a6dd572787f4a2bcfb/twython-3.8.2-py3-none-any.whl
Requirement already satisfied: requests>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from twython) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from twython) (1.3.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->twython) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->twython) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->twython) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->twython) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.4.0->twython) (3.1.0)
Installing collected packages: twython
Successfully installed twython-3.8.2
Collecting py_search
  Downloading https://files.pythonhosted.org/packages/f6/85/b44864de9c3c4e023c0b1be4e7dc292fc448339ac150aa19cfba739669ae/py_search-2.8.0-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: tabulate in /usr/local/lib/python3.7/dist-packages (from py_search) (0.8.9)
Collecting munkres
  Downloading https://files.pythonhosted.org/packages/90/ab/0301c945a704218bc9435f0e3c88884f6b19ef234d8899fb47ce1ccfd0c9/munkres-1.1.4-py2.py3-none-any.whl
Installing collected packages: munkres, py-search
Successfully installed munkres-1.1.4 py-search-2.8.0
Collecting lyricsgenius
  Downloading https://files.pythonhosted.org/packages/09/60/94f2d049789f8e44634703468ec7d752e894a358dac337d138c2b45c190d/lyricsgenius-3.0.0-py3-none-any.whl (59kB)
     |████████████████████████████████| 61kB 3.3MB/s
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from lyricsgenius) (2.23.0)
Requirement already satisfied: beautifulsoup4>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from lyricsgenius) (4.6.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->lyricsgenius) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->lyricsgenius) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->lyricsgenius) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->lyricsgenius) (2020.12.5)
Installing collected packages: lyricsgenius
Successfully installed lyricsgenius-3.0.0

In [ ]:
#libraries used to extract, clean and manipulate the data
#from helpers import *
import pandas as pd 
import numpy as np
import string
import requests

#To plot the graphs
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn')

#library used to count the frequency of words
from sklearn.feature_extraction.text import CountVectorizer

#To create the sentiment analysis model, tokenization and lemmatization
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk import word_tokenize
import nltk.data
#nltk.download('vader_lexicon')
#nltk.download('punkt')

In [ ]:
import lyricsgenius as genius
import pandas as pd
import string 

import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import stopwords
#nltk.download('stopwords')
#nltk.download('wordnet')   
api = genius.Genius(access_token)


def search_data(query,n,access_token):
    """
    This function uses the library lyricsgenius to extract the fields
    title, artist, album, date and lyrics and stores them into a pandas dataframe
    parameters:
    query = artist or band to search
    n = max numbers of songs
    access_token = your access token of the genius api
    """
    
    api = genius.Genius(access_token)

    list_lyrics = []
    list_title = []
    list_artist = []
    list_album = []
    #list_year = []

    artist = api.search_artist(query,max_songs=n,sort='popularity')
    songs = artist.songs
    for song in songs:
        list_lyrics.append(song.lyrics)
        list_title.append(song.title)
        list_artist.append(song.artist)
        #list_album.append(song.album)
        #list_year.append(song.year)

    #df = pd.DataFrame({'artist':list_artist,'title':list_title,'album':list_album,
                        #'date':list_year,'lyric':list_lyrics})
    df = pd.DataFrame({'artist':list_artist,'title':list_title,'lyric':list_lyrics})
    
    return df


def search_data_per_album(albumsongs,query):
    """
    This function uses the library lyricsgenius to extract the fields
    title, artist, album, date and lyrics and stores them into a pandas dataframe
    parameters:
    query = artist or band to search
    n = max numbers of songs
    access_token = your access token of the genius api
    """
    
    api = genius.Genius(access_token)

    list_lyrics = []
    list_title = []
    list_artist = []
    list_album = []
    list_year = []
    
    album = api.search_album(query,albumsongs)

    #artist = api.search_artist(query,max_songs=n,sort='popularity')
    songs = album.songs
    for song in songs:
        list_lyrics.append(song.lyrics)
        list_title.append(song.title)
        list_artist.append(song.artist)
        list_album.append(song.album)
        list_year.append(song.year)

    df1 = pd.DataFrame({'artist':list_artist,'title':list_title,'album':list_album,
                        'date':list_year,'lyric':list_lyrics})
    #df1 = pd.DataFrame({'artist':list_artist,'title':list_title,'lyric':list_lyrics})
    
    return df1

    album.save_lyrics()

In [ ]:
access_token = '48AbSrGnLHR79u6TgoSWikB1-dd779xB-2MZmPXSavrvOVDMo8pZYz7OP1Mjk6-B'

In [ ]:
df0 = search_data('U2',15,access_token)

Searching for songs by U2...

Song 1: "One"
Song 2: "With or Without You"
Song 3: "I Still Haven’t Found What I’m Looking For"
Song 4: "Sunday Bloody Sunday"
Song 5: "Pride (In the Name of Love)"
Song 6: "Beautiful Day"
Song 7: "Get Out of Your Own Way"
Song 8: "Song for Someone"
Song 9: "Every Breaking Wave"
Song 10: "Where the Streets Have No Name"
Song 11: "You’re the Best Thing About Me"
Song 12: "The Troubles"
Song 13: "Ordinary Love"
Song 14: "Vertigo"
Song 15: "New Year’s Day"

Reached user-specified song limit (15).
Done. Found 15 songs.

In [118]:
df0.head()

  artist  ...                                              lyric
0     U2  ...  [Verse 1]\nIs it getting better\nOr do you fee...
1     U2  ...  [Verse 1]\nSee the stone set in your eyes\nSee...
2     U2  ...  [Verse 1]\nI have climbed the highest mountain...
3     U2  ...  [Instrumental Intro]\n\n[Verse 1]\nI can't bel...
4     U2  ...  [Verse 1]\nOne man come in the name of love\nO...

[5 rows x 3 columns]

In [ ]:
df1=search_data('Damien Rice',15,access_token)

Searching for songs by Damien Rice...

Song 1: "The Blower’s Daughter"
Song 2: "9 Crimes"
Song 3: "Delicate"
Song 4: "It Takes a Lot to Know a Man"
Song 5: "I Don’t Want to Change You"
Song 6: "Volcano"
Song 7: "Cannonball"
Song 8: "Cheers Darlin’"
Song 9: "Back To Her Man"
Song 10: "Elephant"
Song 11: "My Favourite Faded Fantasy"
Song 12: "The Greatest Bastard"
Song 13: "Colour Me In"
Song 14: "The Professor & La Fille Danse"
Song 15: "Accidental Babies"

Reached user-specified song limit (15).
Done. Found 15 songs.

In [119]:
df2=search_data('Alanis Morissete',15,access_token)

Searching for songs by Alanis Morissete...

Changing artist name to 'Alanis Morissette'
Song 1: "Ironic"
Song 2: "You Oughta Know"
Song 3: "Hand in My Pocket"
Song 4: "Thank U"
Song 5: "Ablaze"
Song 6: "​Reasons I Drink"
Song 7: "Head Over Feet"
Song 8: "You Learn"
Song 9: "All I Really Want"
Song 10: "Uninvited"
Song 11: "Hands Clean"
Song 12: "Smiling"
Song 13: "Right Through You"
Song 14: "Forgiven"
Song 15: "Perfect"

Reached user-specified song limit (15).
Done. Found 15 songs.

In [168]:
frames = [df0,df1,df2]
result = pd.concat(frames,ignore_index=True, sort=False)

In [169]:
result.tail(10)

               artist  ...                                              lyric
35  Alanis Morissette  ...  [Verse 1]\nThese are the reasons I drink\nThe ...
36  Alanis Morissette  ...  [Verse 1]\nI had no choice but to hear you\nYo...
37  Alanis Morissette  ...  [Verse 1]\nI recommend getting your heart tram...
38  Alanis Morissette  ...  [Verse 1]\nDo I stress you out?\nMy sweater is...
39  Alanis Morissette  ...  [Verse 1]\nLike anyone would be\nI am flattere...
40  Alanis Morissette  ...  [Verse 1]\nIf it weren't for your maturity, no...
41  Alanis Morissette  ...  [Verse 1]\nThis is a life of extremes\nBoth si...
42  Alanis Morissette  ...  [Verse 1]\nWait a minute, man\nYou mispronounc...
43  Alanis Morissette  ...  [Verse 1]\nYou know how us Catholic girls can ...
44  Alanis Morissette  ...  [Verse 1]\nSometimes is never quite enough\nIf...

[10 rows x 3 columns]

In [123]:
def clean_lyrics(df,column):
    """
    This function cleans the words without importance and fix the format of the  dataframe's column lyrics 
    parameters:
    df = dataframe
    column = name of the column to clean
    """
    df = df
    df[column] = df[column].str.lower()
    df[column] = df[column].str.replace(r"verse |[1|2|3]|chorus|bridge|outro","").str.replace("[","").str.replace("]","")
    df[column] = df[column].str.lower().str.replace(r"instrumental|intro|guitar|solo","")
    df[column] = df[column].str.replace("\n"," ").str.replace(r"[^\w\d'\s]+","").str.replace("efil ym fo flah","")
    df[column] = df[column].str.strip()

    return df

In [170]:
df_cln = clean_lyrics(result,'lyric')
df_cln.head()

  artist  ...                                              lyric
0     U2  ...  is it getting better or do you feel the same w...
1     U2  ...  see the stone set in your eyes see the thorn t...
2     U2  ...  i have climbed the highest mountains i have ru...
3     U2  ...  i can't believe the news today oh i can't clos...
4     U2  ...  one man come in the name of love one man come ...

[5 rows x 3 columns]

In [176]:

import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [177]:
df_temp = df_cln
#df_tmp = result

In [180]:
stops = set(stopwords.words("english"))                  
stop = stopwords.words('english')

def remove_stops(row):
    my_list = row['words']
    meaningful_words = [w for w in my_list if not w in stop]
    return (meaningful_words)

def identify_tokens(row):
    review = row['lyric']
    tokens = nltk.word_tokenize(review)
    # taken only words (not punctuation)
    token_words = [w for w in tokens if w.isalpha()]
    return token_words

In [179]:
df_temp['words'] = df_temp.apply(identify_tokens, axis=1)
df_temp.head()

  artist  ...                                              words
0     U2  ...  [is, it, getting, better, or, do, you, feel, t...
1     U2  ...  [see, the, stone, set, in, your, eyes, see, th...
2     U2  ...  [i, have, climbed, the, highest, mountains, i,...
3     U2  ...  [i, ca, believe, the, news, today, oh, i, ca, ...
4     U2  ...  [one, man, come, in, the, name, of, love, one,...

[5 rows x 4 columns]

In [181]:
df_temp['lyric_without_stopwords'] = df_temp.apply(remove_stops, axis=1)
df_temp.head()

  artist  ...                            lyric_without_stopwords
0     U2  ...  [getting, better, feel, make, easier, got, som...
1     U2  ...  [see, stone, set, eyes, see, thorn, twist, sid...
2     U2  ...  [climbed, highest, mountains, run, fields, run...
3     U2  ...  [ca, believe, news, today, oh, ca, close, eyes...
4     U2  ...  [one, man, come, name, love, one, man, come, g...

[5 rows x 5 columns]

In [183]:
df_temp.tail()

               artist  ...                            lyric_without_stopwords
40  Alanis Morissette  ...  [maturity, none, would, happened, wise, beyond...
41  Alanis Morissette  ...  [life, extremes, sides, slippery, enticing, pl...
42  Alanis Morissette  ...  [wait, minute, man, mispronounced, name, wait,...
43  Alanis Morissette  ...  [know, us, catholic, girls, make, much, time, ...
44  Alanis Morissette  ...  [sometimes, never, quite, enough, flawless, wi...

[5 rows x 5 columns]